In [22]:
import pandas as pd
df=pd.read_csv('data/df_top15.csv')

In [ ]:
# 봄철(3, 4, 5월) 데이터 필터링
spring_months = [3, 4, 5]
df_spring = df[df['월'].isin(spring_months)]

# 국적별 봄철 평균 입국자 수 계산
df_spring_avg = df_spring.groupby('국적지역')['입국자수'].mean().reset_index()

# 봄철 평균과 연평균을 병합하여 비교
df_compare_spring = pd.merge(df_spring_avg, df_avg, on='국적지역')
df_compare_spring['봄철 증가율'] = (df_compare_spring['입국자수'] - df_compare_spring['연평균입국자수']) / df_compare_spring['연평균입국자수'] * 100

# 증가율이 높은 (즉, 봄에 입국자가 많은) 나라 찾기
df_spring_favored = df_compare_spring.sort_values(by='증가율', ascending=False)

# 결과 출력
df_spring_favored.head(5)

     국적지역          입국자수       연평균입국자수        증가율
12     태국  49456.833333  34634.072464  42.798204
1     러시아  23345.666667  18248.180556  27.934216
2   말레이시아  31425.583333  25317.041667  24.128181
13    필리핀  44919.416667  37925.472222  18.441285
6      영국  14275.250000  12275.375000  16.291763

In [ ]:
# 여름철(6, 7, 8월) 데이터 필터링
summer_months = [6, 7, 8]
df_summer = df[df['월'].isin(summer_months)]

# 국적별 여름철 평균 입국자 수 계산
df_summer_avg = df_summer.groupby('국적지역')['입국자수'].mean().reset_index()

# 여름철 평균과 연평균을 병합하여 비교
df_compare_summer = pd.merge(df_summer_avg, df_avg, on='국적지역')
df_compare_summer['여름철 증가율'] = (df_compare_summer['입국자수'] - df_compare_summer['연평균입국자수']) / df_compare_summer['연평균입국자수'] * 100

# 증가율이 높은 (즉, 여름에 입국자가 많은) 나라 찾기
df_summer_favored = df_compare_summer.sort_values(by='증가율', ascending=False)

df_summer_favored.head(5)

   국적지역           입국자수        연평균입국자수        증가율
14   홍콩   54887.833333   44235.291667  24.081545
1   러시아   22617.250000   18248.180556  23.942494
9    일본  266617.083333  241561.375000  10.372398
4   베트남   50646.916667   45927.083333  10.276797
10   중국  428105.000000  389641.944444   9.871385

In [ ]:
# 가을철(9, 10, 11월) 데이터 필터링
autumn_months = [9, 10, 11]
df_autumn = df[df['월'].isin(autumn_months)]

# 국적별 가을철 평균 입국자 수 계산
df_autumn_avg = df_autumn.groupby('국적지역')['입국자수'].mean().reset_index()

# 가을철 평균과 연평균을 병합하여 비교
df_compare_autumn = pd.merge(df_autumn_avg, df_avg, on='국적지역')
df_compare_autumn['가을철 증가율'] = (df_compare_autumn['입국자수'] - df_compare_autumn['연평균입국자수']) / df_compare_autumn['연평균입국자수'] * 100

# 증가율이 높은 (즉, 가을에 입국자가 많은) 나라 찾기
df_autumn_favored = df_compare_autumn.sort_values(by='증가율', ascending=False)

df_autumn_favored.head(5)

     국적지역           입국자수        연평균입국자수        증가율
2   말레이시아   35130.250000   25317.041667  38.761276
1     러시아   22376.666667   18248.180556  22.624097
12     태국   41886.181818   34634.072464  20.939234
13    필리핀   44466.250000   37925.472222  17.246398
9      일본  281996.000000  241561.375000  16.738862

In [ ]:
# 겨울철(11, 12, 1월) 데이터 필터링
winter_months = [11, 12, 1]
df_winter = df[df['월'].isin(winter_months)]
# 겨울철(11, 12, 1월) 데이터 필터링
df_winter_avg = df_winter.groupby('국적지역')['입국자수'].mean().reset_index()

# 겨울철 평균과 연평균을 병합하여 비교
df_compare_winter = pd.merge(df_winter_avg, df_avg, on='국적지역')
df_compare_winter['겨울철 증가율'] = (df_compare_winter['입국자수'] - df_compare_winter['연평균입국자수']) / df_compare_winter['연평균입국자수'] * 100

# 증가율이 높은 (즉, 겨울에 입국자가 많은) 나라 찾기
df_winter_favored = df_compare_winter.sort_values(by='증가율', ascending=False)

# 결과 출력
df_winter_favored.head(5)

     국적지역          입국자수       연평균입국자수        증가율
2   말레이시아  33936.166667  25317.041667  34.044756
12     태국  43068.444444  34634.072464  24.352816
5    싱가포르  32490.416667  28153.875000  15.403001
14     홍콩  45600.166667  44235.291667   3.085489
1     러시아  18791.583333  18248.180556   2.977846

In [28]:
# 계절별 데이터 필터링 및 증가율 계산 함수
def calculate_seasonal_growth(df, season_months, season_name):
    df_season = df[df['월'].isin(season_months)]
    df_season_avg = df_season.groupby('국적지역')['입국자수'].mean().reset_index()
    df_compare_season = pd.merge(df_season_avg, df_avg, on='국적지역')
    df_compare_season[f'{season_name} 증가율'] = (df_compare_season['입국자수'] - df_compare_season['연평균입국자수']) / df_compare_season['연평균입국자수'] * 100
    return df_compare_season[['국적지역', f'{season_name} 증가율']]

# 계절별 증가율 계산
df_spring_growth = calculate_seasonal_growth(df, [3, 4, 5], "봄철")
df_summer_growth = calculate_seasonal_growth(df, [6, 7, 8], "여름철")
df_autumn_growth = calculate_seasonal_growth(df, [9, 10, 11], "가을철")
df_winter_growth = calculate_seasonal_growth(df, [11, 12, 1], "겨울철")

# 모든 계절별 증가율을 하나의 데이터프레임으로 병합
df_seasonal_growth = df_avg.copy()
df_seasonal_growth = df_seasonal_growth.merge(df_spring_growth, on='국적지역', how='left')
df_seasonal_growth = df_seasonal_growth.merge(df_summer_growth, on='국적지역', how='left')
df_seasonal_growth = df_seasonal_growth.merge(df_autumn_growth, on='국적지역', how='left')
df_seasonal_growth = df_seasonal_growth.merge(df_winter_growth, on='국적지역', how='left')

# 결과 확인
df_seasonal_growth

       국적지역        연평균입국자수     봄철 증가율    여름철 증가율    가을철 증가율    겨울철 증가율
0        대만  106676.138889  -7.588441   9.749707   3.028585  -6.956153
1       러시아   18248.180556  27.934216  23.942494  22.624097   2.977846
2     말레이시아   25317.041667  24.128181 -30.742961  38.761276  34.044756
3        미국  112470.291667  -4.249233  -0.835813  -4.954605 -25.699194
4       베트남   45927.083333  12.402631  10.276797   8.709821 -23.642549
5      싱가포르   28153.875000  -1.132615 -33.326822   3.740308  15.403001
6        영국   12275.375000  16.291763   0.218934  10.747465 -20.088660
7   오스트레일리아   17583.750000  -1.898533 -19.650719   4.460558  -1.681477
8     인도네시아   24172.555556   5.483951 -11.132345   4.969938  -0.081245
9        일본  241561.375000   5.688530  10.372398  16.738862  -4.994504
10       중국  389641.944444  -6.974979   9.871385   7.617735 -12.003249
11      캐나다   21405.013889  -3.243075 -16.688912  -5.936369 -28.982371
12       태국   34634.072464  42.798204 -18.461317  20.939234  24.352816
13      필리핀   37925.472222  18.441285  -8.404129  17.246398   1.913475
14       홍콩   44235.291667  11.692116  24.081545   8.576203   3.085489

In [29]:
#df_seasonal_growth의 봄철 증가율이 가장 높은 5개 국가
df_seasonal_growth.sort_values(by='봄철 증가율', ascending=False).head(5)

     국적지역       연평균입국자수     봄철 증가율    여름철 증가율    가을철 증가율    겨울철 증가율
12     태국  34634.072464  42.798204 -18.461317  20.939234  24.352816
1     러시아  18248.180556  27.934216  23.942494  22.624097   2.977846
2   말레이시아  25317.041667  24.128181 -30.742961  38.761276  34.044756
13    필리핀  37925.472222  18.441285  -8.404129  17.246398   1.913475
6      영국  12275.375000  16.291763   0.218934  10.747465 -20.088660

In [30]:
#df_seasonal_growth 저장
df_seasonal_growth.to_csv('data/df_seasonal_growth.csv', index=False)